@import "compass";
@import "mixins";

@import url(custom_common.css);

$darkblue: rgb(0, 102, 161);
$navydarkblue: rgb(0, 74, 116);
$lightblue: rgb(124, 184, 255);
$alert: rgb(158, 11, 15);

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

/* ---------- Base styles ---------- */

html {
	position: relative;
	min-height: 100%;
}
body {
	height: 100% !important;
	margin: 0;
}
.aui {
	#skip-to-content {
		display: none;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ECFBFF;
			border: 1px solid #ADE5FA;
			color: #8D8D8D;
			padding: 5px;
		}
	}

	.site-navigation {
		margin-bottom: 6px;
	}
	.site-title a:hover {
		text-decoration: none;
	}
	.taglib-portal-message {
		margin-bottom: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		&.navbar {
			.nav {
				li {
					&.dropdown {
						&.active {
							.dropdown-toggle {
								background-color: transparent;

								&:hover {
									color: #FFF;
								}
							}
						}

						&.staging-toggle .dropdown-menu {
							background-color: #55B8EC;
						}
					}
				}

				> li {
					> a {
						padding: 6px 10px;

						&:hover {
							background-color: $navydarkblue !important;
						}
					}
				}
			}
		}

		.info-button {
			top: 9px;

			a {
				margin-top: -4px;

				&:hover {
					color: #FFF;
				}
			}
		}

		.staging-bar {
			.staging-toggle {
				color: #FFF;

				li a {
					color: #FFF;
					font-weight: 300;
					text-decoration: none;
				}

				.btn-link {
					color: #FFF;
					font-size: 12px;
				}
			}
		}

		.page-customization-bar .btn {
			border-color: transparent;

			&:hover, &:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}

	.dockbar, .dockbar-split .dockbar {
		.navbar-inner {
			background: $darkblue !important;

			.nav {
				> li {
					background: $darkblue !important;
					&.user-avatar.dropdown {
						background: $lightblue !important;
						&:hover, &.open > a, a:hover, .dropdown-menu {
							background: $lightblue !important;
						}
						li > a > i {
							display: none !important;
						}

						.dropdown-menu {
							width: 196px;
							padding: 0px 0px 8px 0px;
							font-size: 15px;
							 a:hover {
								text-decoration: underline;
							}
							> li > a {
								padding: 0px 6px 0 35px;
								line-height: 20.7px !important;
							}
						}
						> .dropdown-toggle {
							width: 196px;
							padding: 6px 0px 6px 0px;
							text-align: center;
							height: 25px;
							> .icon-caret-down {
								display: none;
							}
						}
						.user-full-name {
							font-family: 'Avenir85-Heavy';
							padding: 0px 0px 0px 24px;
							float: left;
							height: 31px;
							line-height: 26px;
							text-align: left;
							&:before {
								content: "Welcome "
							}
						}
					}
				}
				#_145_searchDropdown {
					width: 110px;
					text-align: center;
					.icon-caret-down {
						background: transparent;
						margin-left: 0px;
						margin-right: -7px;
						position: relative;
						&:before {
							content: "" !important;
							background: url("@theme_image_path@/custom/search_.png") no-repeat 0 0;
							width: 15px;
							height: 15px;
							display: block;
							position: absolute;
							top: -11px;
							right: -11px;

						}
					}
					.portlet {
						background: transparent !important;
						padding: 14px 5px 5px 20px !important;
						.alert {
							display: none;
						}
						.control-group.control-group-inline {
							margin: 4px 4px 4px 6px !important;
							#_search_WAR_searchportlet_keywords {
								width: 366px;
								box-shadow: none;
								border-radius: 0px;
								font-family: "Avenir35-Light" !important;
								padding: 0px 5px;
								height: 22px;
								font-size: 14px;
								color: rgb(149, 149, 149);
								margin: 0;
								border: 0;
							}
						}
						button[name="search"] {
							height: 25px;
							width: 26px;
							background: $darkblue !important;
							border-radius: 0;
							color: #fff !important;
							overflow: hidden;
							border: 0;
							position: absolute;
							top: 20px;
							right: 15px;
							font-size: 12px;
							text-indent: 3px;
						}
					}
					> .dropdown-menu {
						margin-left: -336px;
						width: 446px;
						height: 67px;
						overflow: hidden;
						position: relative;
					}
				}
				#_145_loginDropdown {
					background: $lightblue !important;
					width: 96px;
					a {
						text-align: center;
						> i {
							display: none;
						}
					}
					a:hover {
						background: $navydarkblue !important;
					}
					> .dropdown-menu {
						margin-left: -188px;
						width: 284px;
						height: 145px;
						overflow: hidden;
						.alert.alert-error {
    						display: none;
						}
						.portlet-content {
							position: relative;
						}
						.portlet {
							background: $navydarkblue !important;
							padding: 14px 5px 5px 20px !important;
							color: white;
							#_58_login, #_58_password {
								width: 198px;
								box-shadow: none;
								border-radius: 0px;
								font-family: "Avenir35-Light" !important;
								padding: 0px 5px;
								height: 22px;
								font-size: 14px;
								color: rgb(149, 149, 149);
								margin-top: 10px;
								border: 0;
							}
							#_58_password {
								margin-bottom: 12px !important;
							}
							.control-label, [for="_58_rememberMeCheckbox"] {
								display: none !important;
							}
							.control-group, .button-holder {
								margin: 0 !important;
							}
							.form-validator-stack.help-inline {
								position: absolute;
								left: 80px;
								margin-top: 7px;
								font-size: 12px;
							}
							button[type="submit"] {
								height: 25px;
								width: 26px;
								left: 214px;
								top: 24px;
								position: absolute;
								text-indent: 3px;
								background: $darkblue !important;
								border: 0;
								color: #fff !important;
								line-height: 14px;
								font-size: 15px;
								overflow: hidden;
							}
							.navigation {
								background: transparent !important;
								border: 0;
								padding: 0;
								.taglib-icon-list {
									padding: 0 !important;
									li {
										line-height: 25px;
										margin-left: -2px;
										margin-top: -6px;
										line-height: 0px;
										float: none;
										list-style: none;
										&:first-child {
											display: none;
										}
										img {
											display: none;
										}
									}
								}
							}
							label, a.taglib-icon, a.taglib-icon:hover {
								color: white !important;
								font-size: 12px;
								background: transparent !important;
								font-family: "Avenir35-Light" !important;
								padding: 0 6px !important;
							}
						}
					}
				}
			}
		}
	}

	.dockbar .nav li.dropdown .dropdown-menu, .dockbar .nav li.dropdown .site-administration-menu {
		padding: 0;
		box-shadow: none;
		background: $navydarkblue !important;
		> li > a {
			&:hover, &:focus {
				background: $darkblue !important;
			}
		}
		li.active > a {
			background: $darkblue !important;
		}
	}

	.dockbar-split .dockbar {
		font-family: Arial;
		.info-button {
			top: 9px;
		}

		.navbar-inner {
			background: transparent !important;
			.nav-account-controls {
				font-size: 15px;

				&.nav-account-controls-notice {
					margin-top: 10px;
					top: 50px;
				}
			}
			.btn-navbar {
				padding: 2px 10px;
			}

			.nav-add-controls {
				background: transparent;
				border-top-width: 0;
				padding-left: 0;

				&.nav-add-controls-notice {
					top: 70px;
				}

				> li {
					background-color: transparent !important;

					@include background-image(none);

					> a {
						background: #45CBF5;
						line-height: inherit;
						padding: 6px 8px;

						@include respond-to(phone, tablet) {
							background: transparent;
						}

						&:hover {
							background: #5BBAE8;
						}

						&.toggle-controls-link {
							background: #92F545;

							@include respond-to(phone, tablet) {
								background: transparent;
							}
						}
					}
				}
			}

			.page-customization-bar {
				background-color: #6DA4E4;
				background-color: rgba(109, 168, 228, 0.9);
				line-height: 20px;
			}

			.page-customization-bar-text {
				height: 43px;
			}

			.staging-bar {
				margin: 6px 0;

				> li {
					background: transparent;
				}
			}
		}
	}
	.dockbar-messages .header {
		border-bottom: 0;
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		padding:0;
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			padding: 0;
			padding-right: 20px;
			margin-left: 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			li {
				&.dropdown {
					&.open > .dropdown-toggle {
						background: #fff !important;
					}
					> .dropdown-toggle {
						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
						> i {
							display: none;
						}
					}
				}

				&.open {
					> a {
						background-color: #BD1206;
						color: #FFF;
					}
				}

				&.active > a {
					background-color: $darkblue;
				}
			}

			> li > a {
				padding: 4px 15px 5px;
			}

			.dropdown-menu {
				background: #fff !important;
				box-shadow: none;
				border-width: 0;
				margin: 0px 0px 0px -15px;
				min-width: 0 !important;
				position: absolute;
				@include box-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));	

				&:after, &:before {
					border-width: 0;
				}

				a {
					color: #FFF;
					background: none;

					&:hover {
						background: #bd1206;
					}
				}
			}
		}

		.navbar-inner {
			border-width: 0;
			min-height: 36px;

		}
	}

	.modify-pages .delete-tab {
		background: #555;
		border: 2px solid #FFF;
		color: #FFF;
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 300;
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		background-color: #FAFAFA;
	}

	#breadcrumbs {
		margin-bottom: 45px;

		.breadcrumb {
			margin-bottom: 0;
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet, .portlet-borderless-container, form {
		padding: 0 !important;
		margin: 0 !important;
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 0;
		padding: 0;
	}

	.portlet-topper {
		background: #D3D3D3;
		color: #FFF;
		padding: 0;

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
			a i {
    			color: #000;
			}
		}
	}

	.portlet-title {
	    display: none;
	}

	.controls-visible.signed-in .portlet-title {
	    display: block;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-body, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-journal-content .journal-content-article, .portlet-message-boards .header-title, .portlet-message-boards .thread-body {
		-moz-hyphens: manual !important;
		word-break: keep-all !important;
	}

	.lfr-configurator-visibility .portlet-topper {
		background-color: #A9A9A9;
	}

	.portlet-borderless-bar .portlet-options {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-body, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-journal-content .journal-content-article, .portlet-message-boards .header-title, .portlet-message-boards .thread-body {
		@include hyphenation;
	}

	.portlet-icons {
		float: none;
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}

	.dropdown-menu > li.portlet-close > a {
		color: #C00;
		font-weight: bold;

		&:focus, &:hover {
			background-color: #C00;
			background-image: none;
			color: #FFF;
		}
	}

	/* ---------- Set password reminder portlet ---------- */

	.update-reminder-query {
		.control-group {
			max-width: 350px;
		}

		.reminder-query-answer {
			height: 30px;
			width: 100%;
		}

		.reminder-query-question {
			width: 100%;
		}
	}

	/* ---------- Staging bar ---------- */

	.navbar-inner .nav.staging-bar {
		border-top-width: 0;
		position: static;

		li {
			.page-variations {
				display: inline-block;
				margin-left: 8px;

				a {
					text-decoration: none;
				}
			}
		}

		li.dropdown {
			position: static;
		}
	}

	.portlet-staging-bar {
		.row-fluid .layout-revision-info {
			.layout-revision-version {
				label {
					color: #B6DDF5;
				}
			}
		}

		.label-submit {
			background-color: #469DE3;
		}

		.layout-branch-selector, .layout-set-branch-selector {
			.icon-caret-down {
				background-color: #469DE3;
			}
		}

		.page-variations-options, .site-pages-variation-options {
			.lfr-icon-menu {
				background-color: #50AFE9;

				.icon-globe, .icon-file {
					background-color: #469DE3;
				}
			}
		}
	}


	/* ---------- Miscellaneous ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				background-color: $darkblue;

				@include box-shadow(none);
			}
		}

		.navbar-inner {
			@include border-radius(0);
			@include box-shadow(none);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.update-reminder-query .reminder-query-answer {
		@include box-sizing(border-box);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-content {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border-width: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);
	}

	.dockbar .staging-bar .staging-toggle > a {
		@include border-radius(3px);
	}

	.dockbar-split .dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			@include respond-to(phone, tablet) {
				background-color: $darkblue;

			}

			.nav {
				li.dropdown.open {
					> .dropdown-toggle {
						background-color: $dockbarOpenGradientStart;

						@include background-image(linear-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd));
						@include box-shadow(none);
					}
				}

				li.dropdown.active {
					> .staging-link.dropdown-toggle {
						background-color: #55B8EC;
						background-image: none;
					}
				}
				li.dropdown.open > .dropdown-toggle {
					background: $navydarkblue !important;
				}
				li > a {
					line-height: 25px;
					.user-avatar-image {
						display: none;
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}

	/* ---------- IE8 ---------- */

	&.ie8 {
		.dockbar-split .dockbar .navbar-inner .info-button a {
			margin-top: -2px;
		}
	}
}


/* ---------- Emdev2 styles ---------- */

@font-face {
	font-family: 'Avenir35-Light';
	src: url('../fonts/AvenirLTStd-Light.eot');
	src: local('☺'), url('../fonts/AvenirLTStd-Light.woff') format('woff'), url('../fonts/AvenirLTStd-Light.ttf') format('truetype'), url('../fonts/AvenirLTStd-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir35-LightOblique';
	src: url('../fonts/AvenirLTStd-LightOblique.eot');
	src: local('☺'), url('../fonts/AvenirLTStd-LightOblique.woff') format('woff'), url('../fonts/AvenirLTStd-LightOblique.ttf') format('truetype'), url('../fonts/AvenirLTStd-LightOblique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir85-Heavy';
	src: url('../fonts/AvenirLTStd-Heavy.eot');
	src: local('☺'), url('../fonts/AvenirLTStd-Heavy.woff') format('woff'), url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype'), url('../fonts/AvenirLTStd-Heavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir95-Black';
	src: url('../fonts/AvenirLTStd-Black.eot');
	src: local('☺'), url('../fonts/AvenirLTStd-Black.woff') format('woff'), url('../fonts/AvenirLTStd-Black.ttf') format('truetype'), url('../fonts/AvenirLTStd-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.aui body {
	margin-bottom: 120px !important;
}

.portlet-dockbar {
	height: 37px;
	background-color: $darkblue;
	position: relative;
	z-index: 1031;
	.dockbar {
		font-family: 'Avenir35-Light' !important;
		position: relative !important;
		height: auto !important;
		margin: 0 auto;
		.navbar-inner {
			width: auto !important;
			min-height: 37px !important;
			background: transparent !important;
			.container {
				max-width: 1200px;
				height: 37px;
				.collapse.nav-collapse {
					visibility: visible;
					display: block;
				}
				.nav-account-controls {
					position: relative !important;
					right: auto;
				}
			}
		}
	}
	.footer {
		display: none;
	}
}

.aui {
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
		margin: 0;
	}
	#_145_navAccountControlsNavbarCollapse > .nav.nav-account-controls > li:nth-last-child(3) {
		margin-right: 18px;
	}
	#_145_navAccountControlsNavbarCollapse > .nav.nav-account-controls > li:nth-last-child(3):after {
		content: " | ";
		position: absolute;
		top: 4px;
		color: #fff;
		right: -18px;
		z-index: 1;
	}
	.navbar {
		margin-bottom: 0;
	}
	.navbar-brand {
		padding: 17px;
		margin-bottom: -1px;
	}
	.alert-danger, .alert-error, .portlet-msg-error {
		background-color: $alert;
		border: 0;
		color: #fff;
		text-shadow: none;
		text-align: center;
		padding: 0 10px !important;
		min-height: 37px;
		line-height: 37px;
		margin: 0 !important;
		font-family: 'Avenir85-Heavy';
		font-size: 20px;
	}
	.red-alert {
		p {
			margin: 0;
		}
		.close {
			position: absolute;
			top: 9px;
			right: 15px;
		}
	}
	#_145_navAccountControls {
		margin-top: 0 !important;
		top: 0 !important;
	}
	#_145_navAccountControlsNavbarCollapse .nav.nav-account-controls li {
		float: left;
	}
	#_145_navAccountControlsNavbarCollapse .nav.nav-account-controls .dropdown-menu a {
		padding: 0px 35px !important;
		line-height: 26px !important;
		height: 26px;
		&:hover, &:focus {
			background: transparent;
		}
	}
	.navbar-header .navbar-brand {
		height: auto !important;
		position: relative;
		z-index: 1;
	}
	.navbar .container .nav-collapse {
		display: block !important;
	}
	#navigation .navbar-inner .nav-collapse, #navigation .navbar-inner .nav-collapse.collapse {
		overflow: visible !important;
	}
	#navigation {
		margin-top: 50px;
		position: absolute;
		right: 0;
		display: block;
		.navbar-inner {
			background: transparent;
			padding: 0;
			.collapse.nav-collapse {
				visibility: visible;
				display: block;
			}
			ul.nav-collapse {
				margin: 0;
				li {
					margin-left: 55px;
					a {
						font-family: 'Avenir35-Light' !important;
						color: $darkblue;
						font-size: 24.92px;
						padding: 3px 0px;
						margin-left: 0;
						line-height: 28px;
						&:hover, &:focus {
							text-decoration: none;
							color: rgb(0, 0, 0);
						}
						.icon-caret-down {
							margin: 0px !important;
							padding: 0px !important;
						}
					}
					&.open > a, &.active > a {
						background: transparent;
						color: inherit;
					}
					&.active > a {
						font-family: 'Avenir95-Black' !important;
					}
				}
				.dropdown-menu.child-menu {
					li {
						margin-left: 0px;
						float: none;
					}
					a {
						line-height: 34px;
						font-size: 19px;
						padding: 0px 13px;
						text-align: right;
						&:hover {
							background: transparent !important;
						} 
					}
				}
			}
		}
	}
	.carousel {
		margin: 0;
		overflow: hidden;
		font-family: 'Avenir35-Light' !important;
		.control_bg {
			position: absolute;
			width: 32px;
			height: 100%;
			background: rgba(132, 132, 132, 0.75);
			top: 0;
			left: 0;
			&.right {
				right: 0;
				left: auto;
			}
		}
		.carousel-control {
			z-index: 5;
			top: 50%;
			border: 0;
			background: transparent;
			&.left, &.right {
				background: url("@theme_image_path@/custom/arw.png") no-repeat 11px 10px;
				left: -5px;
			}
			&.right {
				@include transform(rotate(-180deg));
				right: -5px;
				left: auto;
			}
			span {
				display: none;
			}
		}
		.carousel-indicators {
			bottom: 8px;
			left: auto;
			width: auto;
			top: auto;
			right: 54px;
			li {
				background-color: rgba(255, 255, 255, 0.85);
			}
			.active {
				margin-top: 1px;
				background-color: rgba(255, 255, 255, 0.25);
			}
		}
		.carousel-title {
			position: absolute;
			top: auto;
			bottom: 36%;
			left: 46.5%;
			text-align: left;
			width:100%;
			font-size: 75.68px;
			color: #fff;
			margin: 0px 0 0px !important;
			padding: 10px 0px 0px 0px;
			line-height: 70%;
			b {
				font-family: 'Avenir95-Black';
				font-weight: normal;
			}
		}
		.carousel-text {
			position: absolute;
			top: auto;
			bottom: 15%;
			left: 47.5%;
			text-align: left;
			width:100%;
			font-size: 20px;
			color: #fff;
			margin: 0px 0 0px !important;
			padding: 10px 0px 0px 0px;
			line-height: 70%;
		}
	}
	.navbar .container, .container {
		padding: 0;
		.navbar-collapse {
			padding: 0;
		}
	}
	.container, .col-md-12, .col-sm-12.col-md-4.col-lg-4 {
		padding-left: 0;
		padding-right: 0;
	}
	.row {
		margin-left: 0;
		margin-right: 0;
	}
	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #0066A1;
		padding: 20px 0px;
		color: white;
		font-size: 14px;
		z-index: 5;
		.container {
			position: relative;
		}
		.links {
			color: white;
			a {
				color: white;
				font-size: 15px;
			}
		}
		.copyright {
			margin: 0;
			line-height: 24px;
		}
		.social {
			position: absolute;
			top: 14px;
			right: 0px;
			.navbar-btn {
				margin-top: 8px;
				margin-bottom: 8px;
				margin-left: 11px;
				&:hover {
					@include opacity(0.7);
				}
			}
		}
	}

	.search-layout-content {
		.column-first {
			.column-content {
				box-shadow: none;
				background: transparent;
				border: 0;
			}
		}
		.column-last {
			margin-left: 200px;
		}
		.facet-value {
    		border-bottom: 0 !important;
    		border-radius: 0 !important;
    		border-top: 0 !important;
		}
	}

	.collapse {
		overflow: visible !important;
		display: block !important;
		visibility: visible !important;
	}
	#_145_navSiteNavigationNavbarBtn,
	#_145_navAccountControlsNavbarBtn,
	#_145_navAddControlsNavbarBtn {
		display: none !important;
	}
	.carousel.slide .carousel-inner {
		background: rgb(125, 125, 128) !important;
	}
	.carousel.slide .item {
		@include transition(opacity 0.4s ease-out 0.1s);
		opacity:0;
	}

	.carousel.slide .active.item {
		@include transition(opacity 0.3s ease-in 0s);
		opacity:1;
	}

	.carousel.slide .active.left,
	.carousel.slide .active.right {
		left: 0;
		z-index: 2;
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.carousel.slide .next,
	.carousel.slide .prev {
		left: 0;
		z-index: 1;
	}

	.carousel.slide .carousel-control {
		z-index: 3;
	}
}

.firefox .dockbar .navbar-inner .nav #_145_loginDropdown>.dropdown-menu .portlet .button-holder .btn,
.firefox .dockbar-split .dockbar .navbar-inner .nav #_145_loginDropdown>.dropdown-menu .portlet .button-holder .btn {
	text-indent: 5px;
}



@media (min-width: 240px) {
	.aui {
		.container, .navbar .container, .portlet-dockbar .dockbar {
			width: 300px;
			float: none !important;
		}
		#_145_navAddControlsNavbarCollapse {
			display: none !important;
		}
		#_145_navAccountControlsNavbarCollapse .nav.nav-account-controls a {
			padding: 6px 3px;
			font-size: 13px;
		}
		#_145_navAccountControlsNavbarCollapse > .nav.nav-account-controls > li:nth-last-child(3) {
			margin-right: 0;
		}
		#_145_navAccountControlsNavbarCollapse > .nav.nav-account-controls > li:nth-last-child(3):after {
			display: none;
		}
		#navigation .navbar-inner ul.nav-collapse {
			li {
				margin-left: 16px;
				float: left;
				a {
					font-size: 17px;
					font-weight: normal;
				}
			}
			.dropdown-menu.child-menu a {
				font-size: 13px;
			}
		}
		#navigation .navbar-inner {
			float: left;
			margin-top: 75px;
			}
		.carousel {
			.carousel-title {
				font-size: 25px;
			}
			.carousel-text {
				font-size: 9px;
				line-height: 0;
			}
		}
		.category {
			span.title {
				margin: 0;
				font-size: 28px;
				line-height: 28px;
				padding-bottom: 4px;
				display: block;
				b {
					font-family: 'Avenir95-Black';
					font-weight: normal;
				}
			}
			.col-sm-12.col-md-4.col-lg-4 a {
				height: 143px;
				padding: 34px 40px;
				display: block;
				color: white;
				font-size: 16px;
				line-height: 24.1px;
				font-family: 'Avenir35-Light';
				background-position: 0 -100px;
				&:hover {
					text-decoration: none;
				}
			}
			.careers {
				background: url("@theme_image_path@/custom/careers_bg_small.jpg") no-repeat 0 0 / cover #2A3B4B;
			}
			.policy {
				background: url("@theme_image_path@/custom/policy_bg_small.jpg") no-repeat 0 0 / cover #2A3B4B;
			}
			.storm {
				background: url("@theme_image_path@/custom/storm_bg_small.jpg") no-repeat 0 0 / cover #2A3B4B;
			}
		}
		.dockbar-split .dockbar .navbar-inner .btn-navbar {
			float: right;
			a.taglib-icon {
				line-height: 25px;
				padding: 0;
			}
		}
		#_145_navAccountControlsNavbarCollapse {
			position: absolute;
			top: 0;
			right: 0;
			margin-left: 60px;
			overflow: visible !important;
			.nav.nav-account-controls {
				padding: 0;
				background: transparent !important;
				a {
					margin: 0;
					padding: 6px 10px;
					font-weight: normal;
					border-radius: 0;
					font-size: 15px;
					height: 37px;
				}
			}
		}
		.portlet-login {
			ul li a.taglib-icon {
				padding: 0 6px !important;
				line-height: 25px !important;
			}
		}
		.navbar-brand > img {
			width: 190px;
		}
		 #navigation {
		 	margin-top: -75px;
		 	padding-left: 20px;
		 	position: static !important;
		 }
		.category .col-sm-12.col-md-4.col-lg-4 a {
			height: 70px;
			padding: 4px 10px;
			font-size: 11px;
			line-height: 12px;
			background-position: 0 0;
		}
		.carousel {
			.carousel-title {
				font-size: 19px;
			}
			.carousel-text {
				font-size: 7px;
			}
		}
		.category {
			span.title {
				font-size: 21px;
			}
		}
		.navbar-brand > img {
			width: auto;
		}
		#_145_navAccountControlsNavbarCollapse {
			margin-left: 0px;
			.nav.nav-account-controls a {
				padding: 6px 7px;
				font-size: 13px;
			}
		}
		.dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu, 
		.dockbar-split .dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu {
			margin-left: -256px;
			width: 366px;
			#_search_WAR_searchportlet_keywords {
				width: 286px;
			}
		}
		.dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu, 
		.dockbar-split .dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu {
			margin-left: -256px;
			width: 366px;
		}
		.dockbar .navbar-inner .nav #_145_searchDropdown .portlet .control-group.control-group-inline #_search_WAR_searchportlet_keywords,
		.dockbar-split .dockbar .navbar-inner .nav #_145_searchDropdown .portlet .control-group.control-group-inline #_search_WAR_searchportlet_keywords {
			position: absolute;
			left: 20px;
			top: 22px;
			width: 210px;
		}
		#_145_searchDropdown {
			width: auto !important;
			a {
				padding: 6px 7px 6px 1px !important;
			}
			> .dropdown-menu {
				margin-left: -175px !important;
				width: 203px !important;
			}
			.nav-item-label {
				display: none;
			}
		}
		#_search_WAR_searchportlet_keywords {
			width: 130px !important;
		}
		.footer {
			font-size: 11px;
			padding: 10px 0px;
			.links a {
				font-size: 12px;
			}
			.social {
				top: 10px;
			}
			.copyright {
				padding-right: 110px;
				line-height: 15px;
			}
		}
		#_145_loginDropdown, #_145_searchDropdown {
			float: left !important;
		}
		#_145_loginDropdown {
			width: 44px !important;
			float: left !important;
			> .dropdown-menu {
				margin-left: -240px !important;
			}
		}
		.dockbar .navbar-inner .nav #_145_loginDropdown > .dropdown-menu, 
		.dockbar-split .dockbar .navbar-inner .nav #_145_loginDropdown > .dropdown-menu {
			margin-left: -86px;
		}
		.dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu, 
		.dockbar-split .dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu {
			margin-left: -177px;
			width: 286px;
		}

	}
}

@media (min-width: 480px) {
	.aui {
		.container, .navbar .container, .portlet-dockbar .dockbar {
			width: 460px;
			float: none !important;
		}
		#_145_navAccountControlsNavbarCollapse > .nav.nav-account-controls > li:nth-last-child(3) {
			margin-right: 18px;
		}
		#_145_navAccountControlsNavbarCollapse > .nav.nav-account-controls > li:nth-last-child(3):after {
			display: block;
		}
		#_145_loginDropdown, #_145_searchDropdown {
			float: left !important;
		}
		#_145_loginDropdown {
			width: 96px !important;
			float: left !important;
			> .dropdown-menu {
				margin-left: -188px !important;
			}
		}
		#_145_searchDropdown {
			width: 110px !important;
			a {
				padding: 6px 7px 6px 1px !important;
			}
			> .dropdown-menu {
				margin-left: -256px !important;
				width: 366px !important;
				position: relative !important;
			}
			.nav-item-label {
				display: inline-block !important;
			}
		}
		#_search_WAR_searchportlet_keywords {
			width: 270px !important;
			position: absolute;
			left: 0 !important;
			top: 0 !important;
		}
		.portlet-dockbar {
			height: 37px;
		}
		.navbar-brand > img {
			width: 170px;
		}
		#navigation {
		 	margin-top: -75px;
		 	padding-left: 210px;
		 	position: absolute;
		 	.navbar-inner {
		 		margin-top: 0 !important;
		 	}
		}
		#navigation .navbar-inner ul.nav-collapse .dropdown-menu.child-menu a {
			line-height: 28px;
		}
		#navigation .navbar-inner ul.nav-collapse li a {
			padding: 1px 0px;
		}
		.category .col-sm-12.col-md-4.col-lg-4 a {
			height: 106px;
			padding: 14px 20px;
			font-size: 14px;
			line-height: 18px;
		}
		.carousel {
			.carousel-title {
				font-size: 30px;
			}
		}
		.navbar-brand > img {
			width: 170px;
		}
		#_145_navAccountControlsNavbarCollapse {
			margin-left: 0px;
			.nav.nav-account-controls a {
				padding: 6px 7px;
				font-size: 14px;
			}
		}
		#_145_navAccountControlsNavbarCollapse .nav.nav-account-controls a {
			padding: 6px 7px;
			font-size: 14px;
		}
		#_145_loginDropdown, #_145_searchDropdown {
			float: left !important;
		}
		#_145_searchDropdown {
			width: 110px;
			a {
				padding: 6px 7px;
			}
			.nav-item-label {
				display: inline-block;
			}
		}
		#_145_loginDropdown {
			width: 96px;
		}
		.dockbar .navbar-inner .nav #_145_searchDropdown .portlet .control-group.control-group-inline #_search_WAR_searchportlet_keywords,
		.dockbar-split .dockbar .navbar-inner .nav #_145_searchDropdown .portlet .control-group.control-group-inline #_search_WAR_searchportlet_keywords {
			width: 286px;
			position: relative;
		}
		.dockbar .navbar-inner .nav #_145_loginDropdown > .dropdown-menu, 
		.dockbar-split .dockbar .navbar-inner .nav #_145_loginDropdown > .dropdown-menu {
			margin-left: -188px;
		}
		.dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu, 
		.dockbar-split .dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu {
			margin-left: -256px;
			width: 366px;
		}
	}
}

@media (min-width: 640px) {
	.aui {
		.container, .navbar .container, .portlet-dockbar .dockbar {
			width: 620px;
			float: none !important;
		}
		.dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu, 
		.dockbar-split .dockbar .navbar-inner .nav #_145_searchDropdown > .dropdown-menu {
			margin-left: -336px;
			width: 446px;
			position: absolute !important;
			#_search_WAR_searchportlet_keywords {
    			width: 366px !important;
    			position: relative !important;
    			left: 0 !important;
    			top: 0 !important;
			}
		}
		#navigation {
			margin-top: -62px;
			.navbar-inner {
    			margin-top: 0px;
			}
		}
		#navigation .navbar-inner ul.nav-collapse .dropdown-menu.child-menu a {
			line-height: 34px;
		}
		#_145_navAccountControlsNavbarCollapse .nav.nav-account-controls a {
			padding: 6px 15px;
		}
		#_145_searchDropdown {
			width: 110px !important;
			a {
				padding: 6px 7px 6px 1px !important;
			}
			> .dropdown-menu {
				margin-left: -336px !important;
				width: 446px !important;
				position: relative !important;
			}
			.nav-item-label {
				display: none;
			}
		}
		#_search_WAR_searchportlet_keywords {
			width: 366px !important;
			position: relative;
		}
		.footer {
			font-size: 14px;
			padding: 20px 0px;
			.links a {
				font-size: 15px;
			}
			.social {
				top: 14px;
			}
			.copyright {
				padding-right: 0;
			}
		}
	}
}

@media (min-width: 768px) {
	.aui {
		.container, .navbar .container, .portlet-dockbar .dockbar {
			width: 750px;
			float: none !important;
		}
		#navigation {
			margin-top: 48px;
			padding-left: 220px;
		}
		#navigation .navbar-inner ul.nav-collapse {
			li {
				margin-left: 14px;
				float: left;
				a {
					font-size: 17px;
					font-weight: normal;
				}
			}
			.dropdown-menu.child-menu a {
				font-size: 13px;
			}
		}
		.category .col-sm-12.col-md-4.col-lg-4 a {
			height: 173px;
		}
		.carousel {
			.carousel-title {
				font-size: 47px;
			}
			.carousel-text {
				font-size: 11px;
				line-height: 18%;
			}
		}
		.dockbar-split .dockbar .navbar-inner .btn-navbar {
			float: right;
			a.taglib-icon {
				line-height: 25px;
				padding: 0;
			}
		}
		#_145_navAccountControlsNavbarCollapse {
			position: absolute;
			top: 0;
			right: 0;
			margin-left: 60px;
			overflow: visible !important;
			.nav.nav-account-controls {
				padding: 0;
				background: transparent !important;
				a {
					margin: 0;
					padding: 6px 10px;
					font-weight: normal;
					border-radius: 0;
					font-size: 15px;
					line-height: 26px;
				}
			}
		}
		.portlet-login {
			ul li a.taglib-icon {
				padding: 0 6px !important;
				line-height: 25px !important;
			}
		}
		.footer .copyright {
    		line-height: 25px;
		}
	}
}

@media (min-width: 980px) {
	.aui {
		#navigation .navbar-inner ul.nav-collapse {
			li {
				margin-left: 14px;
				a {
					font-size: 17px;
				}
			}
			.dropdown-menu.child-menu a {
				font-size: 13px;
			}
		}
		.navbar-brand > img {
    		width: auto;
		}
	}
}
@media (min-width: 992px) {
	.aui {
		.container, .navbar .container, .portlet-dockbar .dockbar {
			width: 940px;
		}

		#_145_navAddControlsNavbarCollapse {
			display: block !important;
		}
		#navigation .navbar-inner ul.nav-collapse {
			li {
				margin-left: 24px;
				a {
					font-size: 22px;
				}
			}
			.dropdown-menu.child-menu a {
				font-size: 16px;
			}
		}
		.carousel {
			.carousel-title {
				font-size: 60.68px;
			}
			.carousel-text {
				font-size: 16px;
				line-height: 43%;
			}
		}
		.category .col-sm-12.col-md-4.col-lg-4 a {
			height: 314px;
			padding: 44px 40px;
		}
		.category {
			span.title {
				font-size: 35px;
				line-height: 40px;
			}
			.col-sm-12.col-md-4.col-lg-4 a {
				height: 314px;
				font-size: 20px;
				line-height: 24.1px;
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: cover;
				background-color: #2A3B4B;
				&:hover {
					text-decoration: none;
					@include box-shadow(0px 0px 75px 39px rgba(0, 0, 0, 0.4) inset);
				}
			}
			.policy {
				background: url("@theme_image_path@/custom/policy_bg.jpg") no-repeat 0 0 / cover #2A3B4B;
			}
			.storm {
				background: url("@theme_image_path@/custom/storm_bg.jpg") no-repeat 0 0 / cover #2A3B4B;
			}
		}
	}
}

@media (min-width: 1200px) {
	.aui {
		.container, .navbar .container, .portlet-dockbar .dockbar {
			width: 1200px;
		}
		#navigation .navbar-inner ul.nav-collapse {
			li {
				margin-left: 54px;
				a {
					font-size: 24.92px;
				}
			}
			.dropdown-menu.child-menu a {
				font-size: 20px;
			}
		}
		#navigation .navbar-inner {
			float: right;
		}
		.carousel {
			.carousel-title {
				font-size: 75.68px;
			}
			.carousel-text {
				font-size: 20px;
				line-height: 70%;
			}
		}
		.category .col-sm-12.col-md-4.col-lg-4 a {
			height: 383px;
			background-position: 0 0;
		}
		.category .col-sm-12.col-md-4.col-lg-4.two a {
			height: 191px;
			background-position: 0px -160px !important;
			&:first-child {
				height: 192px;
			}
		}
		.category span.title {
			font-size: 35px;
			line-height: 40px;
		}
		#_145_navAccountControlsNavbarCollapse {
			position: relative;
		}
	}
}