<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
  <title>$the_title - $company_name</title>

  <meta content="initial-scale=1.0, width=device-width" name="viewport" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic' rel='stylesheet' type='text/css'>
  <link href="${theme_display.getPathThemeCss()}/bootstrap.min.css" rel="stylesheet" type="text/css" />

  $theme.include($top_head_include)
</head>

<body class="$css_class">

$theme.include($body_top_include)

#dockbar()

  <nav class="navbar">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>

      <a class="$logo_css_class navbar-brand" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])"><img alt="$logo_description" src="${theme_display.getPathThemeRoot()}/images/custom/logo.png" /></a>

    </div>
    <div id="navbar" class="collapse navbar-collapse">

      #if ($has_navigation || $is_signed_in)
      #parse ("$full_templates_path/navigation.vm")
    #end

    </div>
    </div>
  </nav>

  <!-- Begin page content -->
  <div class="container">


      #if ($selectable)
      $theme.include($content_include)
    #else
      $portletDisplay.recycle()

      $portletDisplay.setTitle($the_title)

      $theme.wrapPortlet("portlet.vm", $content_include)
    #end

  </div>

  <footer class="footer">
    <div class="container">
    <div class="links">
      <a href="#">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Site Map</a>
    </div>
    <p class="copyright">Copyright 2014 Citizens Property Insurance Corporation of Florida</p>

    <div class="social">
                <a href="http://www.facebook.com/citizensfla" class="navbar-btn btn-primary ">
                    <img src="${theme_display.getPathThemeRoot()}/images/custom/fb.png">
                </a>
                <a href="http://www.twitter.com/citizensfla" class="navbar-btn btn-primary ">
                    <img src="${theme_display.getPathThemeRoot()}/images/custom/twt.png">
                </a>
                <a href="http://www.linkedin.com/citizensfla" class="navbar-btn btn-primary ">
                    <img src="${theme_display.getPathThemeRoot()}/images/custom/lnkd.png">
                </a>
            </div>

    </div>
  </footer>

<script type="text/javascript" src="${theme_display.getPathThemeRoot()}/js/jquery.js"></script>
<script type="text/javascript" src="${theme_display.getPathThemeRoot()}/js/bootstrap.min.js"></script>

$theme.include($body_bottom_include)

$theme.include($bottom_include)

</body>

</html>